{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block content %}
<h1>Changer le mot de passe</h1>
{% if notification %}<div class="alert alert-info"> {{ notification }}</div> {% endif %}
{{ form(form) }}
<a href="{{ path('app_account') }}"> return </a>
{% endblock %}