{% extends 'base.html.twig' %}
{% block carousel %} {% endblock %}

{% block content %}


        <!-- Three columns of text below the carousel -->
    <h3>Nos meilleures ventes</h3>
    <p>Découvrez les articles les plus vendus.</p>
        <div class="row">
                    {% for produit in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Une équipe de professionnel <span class="text-muted">au grand savoir-faire</span></h2>
            <p class="lead">Nous sommes passionnés de mode et nous croyons que chacun mérite d'avoir accès à des articles de qualité qui reflètent leur style personnel. C'est pourquoi nous avons créé notre site de mode, pour offrir une sélection soigneusement curate de vêtements tendance. Nous travaillons sans relâche pour vous offrir les dernières tendances, ainsi que des pièces intemporelles qui peuvent être intégrées à votre garde-robe. Nous voulons vous inspirer à être créatif avec votre style et à vous sentir à l'aise et confiant dans ce que vous portez.</p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/img/first.jpg') }}" class="img-fluid" alt="Un savoir-faire Français">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Venez nous rencontrer dans nos <span class="text-muted">boutiques au Maroc</span></h2>
            <p class="lead">Nous offrons un assortiment de vêtements tendance, tout en veillant à ce que chaque produit soit de haute qualité. Vous pourrez essayer sur nos pièces en personne et obtenir des conseils de mode de notre personnel amical et compétent. Nous aimons créer une atmosphère accueillante pour nos clients et nous sommes toujours prêts à aider avec des conseils de style personnalisés. Alors, venez nous rencontrer dans nos boutiques au Maroc et découvrez votre nouveau look préféré aujourd'hui.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('assets/img/second.jpg') }}" class="img-fluid" alt="Une boutique ouverte toute l'année">
        </div>
    </div>

    <!-- /END THE FEATURETTES -->
{% endblock %}

       