{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block content %}

   <div class="row">
       <div class="col-md-3">
       <h3>Filtrer</h3>
         {{ form(form)}}
          </div>
            <div class="col-md-9">
              <h1>Liste</h1>
              <div class="row product-container">
                {% for produit in produits %}
                <div class="col-md-4">
                {% include 'product/single_product.html.twig' %}
                 </div>
                {% endfor %}
              </div>
                        </div>
                    </div>



{% endblock %}
