{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block content %}
    <h2>Je passe ma commande</h2>
    <p>Choisissez vos préférences avant de passer votre commande sur La Boutique Française.</p>
    <hr>
    <div class="row">
        <div class="col-md-6">

            {% set formHtml %}
                      {{ form(form) }}
                    <a href="{{ path('app_account_address_add') }}">Ajouter une nouvelle adresse</a> 
            {% endset %}
                    {{ formHtml|replace({'[br]' : '<br/>'})|raw }}
        </div>
         <div class="col-md-6">
            <div class="text-center">
                <b>Récap de ma commande</b><br/>
                <p>Retrouvez le récapitulatif de vos produits.</p>
            </div>
        </div>
    </div>

{% endblock %}
